body {
  background-color: white;
}

main {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}