.PlayButton {
    color: white;
    background-color: blue;
    height: 10%;
    width: 20%;
    border: 2px solid currentColor;
    border-radius: 5px;
    min-width: 50px;
}

.PlayButton:hover {
    cursor: pointer;
    color: greenyellow;
    background-color: blueviolet;
}